//--------------------------------------------------------------
// Navigation
//--------------------------------------------------------------

// Default menu (active after a fresh WordPress install)
.menu {
	@include list-reset;
        
    @include breakpoint(large) {
        display: flex;
    }
    
    li {
        
    }

} // .menu


.js-superfish {
    
    .menu-item > a:focus ~ ul.sub-menu,
    .menu-item.focus > ul.sub-menu,
    .menu-item:hover > ul.sub-menu {
        opacity: 1;
        transform: translateY(0);
        transition: none;
    }
    
    
    .menu-item:focus {
        position: static;
    }
    
    .menu-item > a:focus + ul.sub-menu,
    .menu-item.sfHover > ul.sub-menu {
        opacity: 1;
    }   
}


.no-touchevents a[href^="tel:"]:not(.button) {
    color: $dark-gray;
	pointer-events: none;    /* prevents click event */
    cursor: text;            /* use text highlight cursor*/
}

// Navigation on Comment, Post and Posts
.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0;
		//overflow: hidden;
	} // .site-main &

	&.nav-previous {
		float: left;
	} // &.nav-previous

	&.nav-next {
		float: right;
		text-align: right;
	} // &.nav-next
} // .comment-navigation, .posts-navigation, .post-navigation


button {
    cursor: pointer;   
}